body {
    background-color: #e5e5f7;
    background-image:  linear-gradient(30deg, #d2d4ff 12%, transparent 12.5%, transparent 87%, #d2d4ff 87.5%, #d2d4ff), linear-gradient(150deg, #d2d4ff 12%, transparent 12.5%, transparent 87%, #d2d4ff 87.5%, #d2d4ff), linear-gradient(30deg, #d2d4ff 12%, transparent 12.5%, transparent 87%, #d2d4ff 87.5%, #d2d4ff), linear-gradient(150deg, #d2d4ff 12%, transparent 12.5%, transparent 87%, #d2d4ff 87.5%, #d2d4ff), linear-gradient(60deg, #d2d4ff77 25%, transparent 25.5%, transparent 75%, #d2d4ff77 75%, #d2d4ff77), linear-gradient(60deg, #d2d4ff77 25%, transparent 25.5%, transparent 75%, #d2d4ff77 75%, #d2d4ff77);
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px; 
    text-align: justify;
}

h1 {
    text-align: center;
}

#header {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    width: 60%;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 60%;
}

#picture {
    background-color: #FFFFFF;
    padding: 10px;
    width: 60%;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
}

#shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto 20px auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    width: 60%;
}

#shop p {
    margin-top: 0px;
    padding: 0px;
    color: red
}

.shown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
}

.hidden {
    display: none;
}

.submit-button {
    background-color: #d2d4ff;
    border: none;
    border-radius: 10px;
    height: 25px;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

img {
    max-width: 300px;
    height: auto;
}

input {
    border: none;
    border-bottom: 1px solid #d2d4ff;
    width: 200px;
}


